<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h3>
    Welcome to {{title}}!!
  </h3>


<hr/>
<app-servers></app-servers>

<hr/>
<app-warning-alert></app-warning-alert>
<app-success-alert></app-success-alert>
<app-info-alert></app-info-alert>
<app-danger-alert></app-danger-alert>

<hr/>
<h4>Data Binding</h4>
<app-data-binding></app-data-binding>

<hr>
<app-if-else></app-if-else>

<hr>
<app-style-directive></app-style-directive>


<hr>
<app-class-directive></app-class-directive>
</div>
